<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Ace Admin</title>

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<%- include('../layout/css') %>
	</head>

	<body class="no-skin">
		<%- include('../layout/navbar') %>

		<div class="main-container ace-save-state" id="main-container">
			<%- include('../layout/admin/sidebar') %>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li class="active">
								<i class="ace-icon fa fa-home home-icon"></i>
								Dashboard
							</li>
						</ul><!-- /.breadcrumb -->
					</div>

					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="row">
									<div class="col-sm-12">
										<div class="widget-box">

											<div class="widget-header widget-header-flat">
												<h3 class="widget-title">Selamat Datang <%=name%></h3>
											</div>

											<div class="widget-body">
												<div class="widget-main">

													<div class="row">
														<div class="col-sm-12">
															<p class="lead">
																Ini merupakan contoh CRUD menggunakan Node.js <br>
																Dengan framework Express dan MongoDB sebagai Databasenya.

																<br> <br>

																Silahkan anda pelajari source code yang sudah anda unduh. <br>
																Terima Kasih :)
															</p>
														</div>
													</div>

												</div>
											</div>
										</div> <!-- /.widget -->
									</div>
								</div> <!--  /.row -->

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<%- include('../layout/footer') %>
		</div><!-- /.main-container -->

		<%- include('../layout/js') %>
	</body>
</html>
