<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Profil | Passwords</title>

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<%- include('layout/css') %>
	</head>

	<body class="no-skin">
		<%- include('layout/navbar') %>

		<div class="main-container ace-save-state" id="main-container">
			<%- include('layout/sidebar') %>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="/">Dashboard</a>
							</li>

							<li class="active">Edit Password</li>
						</ul><!-- /.breadcrumb -->
					</div>

					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12 col-sm-8">
										<form class="form-horizontal" action="/edit/password" method="post" role="form">

											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right" for="old"> Password Lama </label>

												<div class="col-sm-9">
													<input name="old" type="password" id="old" placeholder="Password Lama" class="col-xs-10 col-sm-5" />
												</div>
											</div>

											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right" for="new"> Password Baru </label>

												<div class="col-sm-9">
													<input name="new" type="password" id="new" placeholder="Password Baru" class="col-xs-10 col-sm-5" />
												</div>
											</div>

											<div class="clearfix form-actions">
												<div class="col-md-offset-3 col-md-9">
													<input type="hidden" name="_method" value="PUT">
													<button class="btn btn-info" type="submit">
														<i class="ace-icon fa fa-refresh bigger-110"></i>
														Ubah Password
													</button>
													&nbsp;&nbsp;&nbsp;&nbsp;
													<a href="/" class="btn btn-warning">
														<i class="ace-icon fa fa-share bigger-110"></i>
														Kembali
													</a>
												</div>
											</div>

										</form>
									</div>
								</div>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<%- include('layout/footer') %>
		</div><!-- /.main-container -->

		<%- include('layout/js') %>
	</body>
</html>
